@import "tailwindcss";

@theme {
  --breakpoint-xs: 360px;
}

.bg-primary {
  background-color: #181818;
}

.bg-secondary {
  background-color: #1c1c1c;
}

.bg-active-link {
  background-color: #1f1f1f;
}

.bg-active-card {
  background-color: #333333;
}

.text-primary {
  color: #ffffff;
}

.text-secondary {
  color: #a3a3a3;
}

.text-tertiary {
  color: #7b7b7b;
}

.scrollbar-hide::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
